body {
  background: #e6e6ff;
  text-align: center;
  font-family: open sans;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin: 60px 40px 0 40px;
}

p {
  font-size: 18px;
  color: #bfbfbf;
  margin-top: 5px;
}

.card1, .card2, .card3, .card4, .card4, .card5, .card6, .card7, .card8 {
  width: 300px;
  height: 380px;
  background: white;
  margin: 10px;
  padding: 30px 0 0 0;
  text-align: center;
  color:#a6a6a6;
  display: flex;
  flex-flow:column;
  justify-content: space-between;
  align-content: center;
}

.photo {
  width: 100px;
  height: auto;
  align-self: center;
  border-radius: 50%;
}

.name {
  color: black;
  margin-bottom: 5px;
}

.address {
  flex-basis: 50px;
  font-size: 11px;

}

.locationLogo {
  width: 10px;
  height:auto;
}

.About {
  width: 95%;
  flex-basis: 120px;
  height: 50px;
  align-self: center;
}

.connectText {
  flex-basis: 60px;
  width: 100%;
}

.socLogoBox {
  width: 100%;
  flex-basis: 80px;
  flex-direction: row;
  justify-content: center;
}

.socialMediaLogo {
  width: 25px;
  height: auto;
  border: solid #bfbfbf 2px;
  border-radius: 50%;
  margin: 5px;
}

.cardsContainer {
  height: 900px;
  width: 100%;
  position: absolute;
  top: 160px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
